.vs
.vscode
*.dll
*.pdb
*.suo
*.sdf
*.opensdf
*.csproj.user
*.vcxproj.user
TestResults
packages
ipch
[oO]bj*
[bB]in*
**/[oO]bj*
**/[bB]in*
[dD]ebug
[rR]elease
**/[dD]ebug
**/[rR]elease
.DS_Store
**/.DS_Store
**/launchSettings.json
nupkg/
**/nupkg
